name: ETL16

on: 
#  schedule:
#    - cron: '0 */3 * * *' # Run every 3 hours

  push:
    branches: [main]
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup R environment
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.0'
      - name: Cache R packages
        uses: actions/cache@v2
        with:
          path: ${{ env.R_LIBS_USER }}
          key: ${{ runner.os }}-r-${{ hashFiles('**/DESCRIPTION') }}
          restore-keys: |
            ${{ runner.os }}-r-
      - name: Install packages
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          Rscript -e 'install.packages(c("ggplot2","dplyr","readr","RSQLite","sqldf","stringr","tidyverse"))'
      - name: Execute R script
        run: |
          Rscript R/schema_creation.R
      - name: Execute R script ins
        run: |
          Rscript R/data_load.R
      - name: Add files
        run: |
          git config --global user.email "rucha.khartadkar123@gmail.com"
          git config --global user.name "rucha1101"
          git add database.db
      - name: Commit files
        run: |
          git commit -m "Data Updated" || echo "No changes to commit"
      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
